{% extends 'base.html' %}
{% block content %}
<div class="container">
    <br><br>
    <div>

    </div>
    <div>

    </div>
</div>
<script type="module">


    // var spol = d3.csv("{{ url_for('static', filename='warszawskie_spoldzielnie.csv') }}")


    var spol = d3.json({{ url_for("common.spoldzielnie_dane") | tojson }})
    var sprawy = d3.json({{ url_for("common.sprawy_dane") | tojson }})


    var formatMoney = d3.formatMoney = function (d) { return d3.format(",.2f")(d) + " zł"; }

    Promise.all([ spol,  sprawy]).then(function([spol, sprawy]){  


        console.log(spol);
        console.log(sprawy);
  
    
        

    })


</script>
{% endblock %}
