<!doctype html>
<html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="{{ url_for('static', filename='d3.v7.js')}}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css')}}">
<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" >
<title>Warszawskie spółdzielnie mieszkaniowe</title>
<style>

.continent {
    fill: url(#svgGradient);
    stroke: #ff9a02;
    stroke-width: 7px;
}

.dzielnice {
    /* fill: rgb(230, 199, 96); */
    fill: url(#svgGradient);
    stroke: #5f2848;
    stroke-width: 1px;
}

.wisla {
    fill: none;
    stroke: #a3b9ff;
    stroke-width: 10px;
}


.labels {
    font-family: sans-serif;
    font-size: 11px;
    fill: #3c373d;
}

p.title {
/* text-shadow:
    2px 2px 2px #d6693d;
    2px 2px 1px red; */
    background-color: #FFFffF;



}

p.subtitle {
  color: #ffffff;
/* text-shadow:
    2px 1px 1px rgb(103, 66, 104),
    2px 2px 1px red; */
    background-color: #e07f7f;
width:246px;
}



tr.spoldzielnia{
    color: black;
    background-color: rgb(147, 230, 255);
}


tr.spoldzielnia_grunty{
    color: black;
    background-color: rgb(0, 154, 201);
}

div.info-nadtabela {
    background-color: #d8e6e9;
    color: rgb(0, 0, 0);
    padding: 10px;
    margin: 20px;
    border-radius: 10px;

}

line.gridline {
    fill: none;
    stroke-width: 1px;
    stroke: black;
    border-style: dotted;
    stroke-dasharray: 5;
  }

</style>
</head>

<body>
    <section class="hero">
        <div class="container">
        <div class="hero-body">
          <p class="title is-size-1">
              warszawskie spółdzielnie mieszkaniowe
          </p>
          <!-- <p class="subtitle">&nbsp;&nbsp;
            <div id="svgEmbed"></div>
          </p> -->
        </div>
    </div>
      </section>
<div class="container">
   
    
    <div id="chart"></div>

</div>
<div class="container">

<div class="columns">
    <div class="column" id="chart2"></div>
    <div class="column" id="chart3"></div>
    <div class="column" id="chart4"></div>
    </div>
    </div>
<div class="container">
    <br><br>
    <div class="table-container">
        <div class="info-nadtabela">
      <p><i>Lista spółdzielni o nieuregulowanych gruntach pochodzi ze strony <a href="https://www.wlasnosc.waw.pl/">wlasnosc.waw.pl</a></i></p>
      <p><i>Poniższa lista może być niezupełna lub nieaktualna.</i></p>
    </div>
    <table class="table">
        <thead>
          <tr>
            <th>lp</th>
            <th>Nazwa</th>
            <th>KRS</th>

            <!-- <th>Sprawy</th> -->
            <th>Adres</th>
            <th>Bilans 2022</th>

            
          </tr>
        </thead>
  
      </table>
    </div>
</div>
<div class="container">
    <br><br>
</div>
<footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>warszawskie spółdzielnie mieszkaniowe</strong> [wersja 2024-04-07]
</p>
      <p>
        Wersja robocza. Twórcy nie ponoszą odpowiedzialności za poprawność danych.
      
      </p>
    </div>
  </footer>
<script type="module">
    import { wykres_spoldzielni , daj_mi_wykres , pogrupuj, pogrupuj2    } from '{{ url_for("static", filename="charts.js")}}';

    var w = 1400;
    var h = 700;
    var svg = d3.select("div#chart").append("svg").attr("preserveAspectRatio", "xMinYMin meet")
    .attr("viewBox", "0 0 " + w + " " + h).style("background","#fffaaf")
    .classed("svg-content", true);

    var projection = d3.geoMercator().translate([w/2-100,h/2+570]).scale(86000).center([21,52]);
    var path = d3.geoPath().projection(projection);

    var warszawa = d3.json("{{ url_for('static', filename='dzielnice/warszawa.geojson') }}")
    var warszawa_dzielnice = d3.json("{{ url_for('static', filename='dzielnice/warszawa-dzielnice.geojson') }}")
    var wisla = d3.json("{{ url_for('static', filename='dzielnice/wisla.geojson') }}")

    // var spol = d3.csv("{{ url_for('static', filename='warszawskie_spoldzielnie.csv') }}")


    var spol = d3.json({{ url_for("common.spoldzielnie_dane") | tojson }})
    var sprawy = d3.json({{ url_for("common.sprawy_dane") | tojson }})
    var gw_svg = d3.svg("{{ url_for('static', filename='pics/gwiazdka2.svg') }}")


    // var formatMoney = function (d) { return d3.format(".2f")(d) + " zł"; }
  

    // change formatMoney to separate thousands with space
    var formatMoney = d3.formatMoney = function (d) { return d3.format(",.2f")(d) + " zł"; }

    Promise.all([warszawa, wisla, spol, gw_svg, sprawy, warszawa_dzielnice]).then(function(values){   
  
        console.log(values[2]);
        // logo

        // sort values[2] by bilans descending
        values[2].sort(function(a, b) {
            return b.bilans - a.bilans;
        });

        // d3.select("#svgEmbed").node().appendChild(values[3].documentElement);

        values[0].features.forEach(function(feature) {
           feature.geometry.coordinates[0].reverse();
        });

        svg.selectAll("path.continent")
            .data(values[0].features)
            .enter()
            .append("path")
            .attr("class","continent")
            .attr("d", path);
    


            var defs = svg.append('defs');
            var gradient = defs.append('linearGradient')
            .attr('id', 'svgGradient')
            .attr('x1', '0%')
            .attr('x2', '100%')
            .attr('y1', '0%')
            .attr('y2', '100%');

            gradient.append('stop')
            .attr('class', 'start')
            .attr('offset', '0%')
            .attr('stop-color', '#fa8b8b')
            .attr('stop-opacity', 0.7);

            gradient.append('stop')
            .attr('class', 'end')
            .attr('offset', '100%')
            .attr('stop-color', 'rgb(230, 199, 96)')
            .attr('stop-opacity', 1);

        values[5].features.forEach(function(feature) {
            feature.geometry.coordinates.forEach(function(coords) {
                coords.forEach(function(coord) {
                    coord.reverse();
                });
            });

        });
  
            svg.selectAll("path.dzielnice")
            .data(values[5].features)
            .enter()
            .append("path")
            .attr("class","dzielnice")
            .attr("d", path);


            svg.selectAll("path.wisla")
            .data(values[1].features)
            .enter()
            .append("path")
            .attr("class","wisla")
            .attr("d", path);

        let g_spol = svg.selectAll("g.spoldzielnia")
        .data(values[2])
        .enter()
        .append("g")
        .attr("class","spoldzielnia")
        .attr("transform", function(d) {
            return "translate("+projection([d.dlugosc_geo, d.szerokosc_geo])+")"
        })



        values[2] = values[2].map(function(d) {
            d.bilans_rsquare = Math.sqrt(parseFloat(d.bilans)) // Replace "value" with the value you want to assign to the new attribute
            return d;
        });

        const max_bilans = d3.max(values[2], function(d) { return d.bilans_rsquare; })
        const min_bilans = d3.min(values[2], function(d) { return d.bilans_rsquare; })

        console.log(max_bilans);
        console.log(min_bilans);

        var r_bilans = d3.scaleLinear()
        .domain([0, max_bilans])
        .range([3, 16]);

        g_spol
        .append("circle")
        .attr("class","spoldzielnia")
        .attr("cx", 0)
        .attr("cy", 0)
        .attr("r",  function(d) {
            let rr = 0
            if (d.bilans_rsquare > 0) {
               rr = d.bilans_rsquare
            } 
            return r_bilans(rr)
        }
        )
        .attr("fill", function(d) {
            if (d.status == "uregulowane") {
                return 'rgb(147, 230, 255)'
            } else if (d.status == "nieuregulowane") {
                return '#2c89a0'
            } else {
                return 'rgb(147, 230, 255)'
            }
        })
        .attr("stroke", "black")
        .attr("stroke-width", 1)
        .attr("opacity", 0.7)
        

        // g_spol.filter(function(d){ return d.status == "nieuregulowane"; })
        // .append("circle")
        // .attr("cx", 0)
        // .attr("cy", 0)
        // .attr("r", "6px")
        // .attr("fill", "none")
        // .attr("stroke", "black")
        // .attr("stroke-width", 0.5)

        // g_spol.filter(function(d){ return d.status == "nieuregulowane"; })
        // .append("text")
        // .attr("x", -6)
        // .attr("y", 5.5)
        // .text("X")
        // .attr("fill", "blue")

        // .attr("stroke", function(d) {
        //     if (d.status == "uregulowane") {
        //         return "black"
        //     } else if (d.status == "nieuregulowane") {
        //         return "red"
        //     } else {
        //         return "orange"
        //     }
        // })
        // .attr("stroke-width", 4)

        let tabela = d3.select("table")

        let wiersz = tabela.append("tbody")
        .selectAll("tr").data(values[2])
        .enter().append("tr").attr("id", function(d) {return d.krs})
        .attr('class', function(d) {
            if (d.status == "nieuregulowane") {
                return "spoldzielnia_grunty"
            } else {
                return "spoldzielnia"
            }
        })


        wiersz.append("td")
        .html(function (d,i) { return (i+1)+"." })

        wiersz.append("td")
        .html(function (d,i) { return "&#9679; " + d.nazwa })



        wiersz.append("td")
        .text(function (d) { return d.krs })


        wiersz.append("td")
        .text(function (d) { return d.adres.toUpperCase()+", "+d.kod_pocztowy+", "+d.miejscowosc.toUpperCase() + " ("+d.dzielnica.toUpperCase()+")"})

        wiersz.append("td")
        .text(function (d) { 
            
            if (d.bilans == "NaN" || d.bilans == "nan" || d.bilans==0 || d.bilans == "" || d.bilans == null) {
                return "brak danych";
            }
            else{
                return formatMoney(d.bilans);
            }             
             })



        // d3.selectAll("tbody").append("tr","tr")

        const formatTime = d3.utcFormat("%Y-%m-%d");

        values[4].forEach(function(sprawa) {
           


            var x = document.getElementById(sprawa.spoldzielnia);
            let t = document.createElement('tr');
            x.parentNode.insertBefore(t, x.nextSibling);  

            // get string from date object sprawa.data_rozpoczenia
            let data_rozpoczenia = formatTime(new Date(sprawa.data_rozpoczenia));

            let ih = "<td></td><td>&#9733; "+sprawa.kategoria+"</td><td>("+data_rozpoczenia+") "+sprawa.opis+"</td><td></td>"

            

              t.ih += "<td>"
            
            let odnosniki = sprawa.odnosniki.split("|");
            odnosniki.forEach(function(odnosnik) {
                ih += "<a href='"+odnosnik+"'>"+odnosnik+"</a><br><br>"
              
            });
            ih += "</td>"

            t.innerHTML = ih;
  
    
        })

        // svg.selectAll("g.sprawa")
        // .data(values[4])
        // .enter()
        // .append("g")
        // .attr("class","sprawa")
        // .attr("transform", function(d) {
        //     return "translate("+projection([d.dlugosc_geo, d.szerokosc_geo])+")"
        // })
        // .append("path").attr("d", d3.symbol(d3.symbolStar, 90))
        // .attr("fill", "red")
        // .attr("stroke", "black")
        // .attr("stroke-width", 1)




        let g_legenda = svg.append("g").attr("transform", function(d) {
            return "translate(40, 40)"
        })
        




    g_legenda.append("circle")
        .attr("class","spoldzielnia")
        .attr("cx", 0)
        .attr("cy", 0)
        .attr("r", "8px")
        .attr("fill", 'rgb(147, 230, 255)')
        .attr("stroke", "black")
        .attr("stroke-width", 1)

        g_legenda.append("text")
        .attr('x', 20)
        .attr('y', 4)
        .text("- spółdzielnia mieszkaniowa (SM)")




        g_legenda.append("circle")
        .attr("class","spoldzielnia")
        .attr("cx", 0)
        .attr("cy", 40)
        .attr("r", "8px")
        .attr("fill", '#3c70e8')
        .attr("stroke", "black")
        .attr("stroke-width", 1)

        // g_legenda
        // .append("circle")
        // .attr("cx", 0)
        // .attr("cy", 40)
        // .attr("r", "12px")
        // .attr("fill", "none")
        // .attr("stroke", "black")
        // .attr("stroke-width", 0.5)

        g_legenda.append("text")
        .attr('x', 20)
        .attr('y', 44)
        .text("- SM z nieuregulowanymi gruntami")

        // g_legenda.append("path").attr("d", d3.symbol(d3.symbolStar, 200))
        // .attr("fill", "red")
        // .attr("stroke", "black")
        // .attr("stroke-width", 1)
        // .attr("transform", "translate(0, 80)")

        // g_legenda.append("text")
        // .attr('x', 20)
        // .attr('y', 84)
        // .text("- sprawa (artykuł prasowy)")

        // .attr("cx", function(d) {
        //     console.log(d);
        //     return projection([d.dlugosc_geo, d.szerokosc_geo])[0];})
        // .attr("cy", function(d) {return projection([d.dlugosc_geo, d.szerokosc_geo])[1];})
        // .attr("r", "6px")
        // .attr("fill", "blue")
        // .attr("stroke", "black")
        // .attr("stroke-width", 1)

        // d3.select("div#chart2").node().appendChild(wykres_spoldzielni(''));




        let dane_w = pogrupuj(values[2]);
        console.log(dane_w);

        let suma_wszystkich = d3.sum(values[2], function(d) { return d.bilans; });
        console.log(suma_wszystkich);

        let wyk = daj_mi_wykres(dane_w, 'Rys. Suma bilansów SM za rok 2022, wg dzielnic.');

        console.log(wyk);

        d3.select("div#chart2").node().appendChild(wyk);

        let dane_w2 = pogrupuj2(values[2]);
        let wyk2 = daj_mi_wykres(dane_w2, 'Rys. Liczba SM według dzielnic.');

            console.log(wyk2);

            d3.select("div#chart3").node().appendChild(wyk2);

    });
    // d3.json("{{ url_for('static', filename='dzielnice/warszawa.geojson') }}").then(function(data) {
    //     console.log(data.features);

    //     // data.features.forEach(function(feature) {
    //     //     feature.geometry.coordinates[0].reverse();
    //     // });

    //     svg.selectAll("path")
    //     .data(data.features)
    //     .enter()
    //     .append("path")
    //     .attr("class","continent")
    //     .attr("d", path)



    // });

    // d3.json("{{ url_for('static', filename='dzielnice/spol.geojson') }}").then(function(data) {
    //     svg.selectAll("circle")
    //     .data(data.features)
    //     .enter()
    //     .append("circle")
    //     .attr("class","circles")
    //     .attr("cx", function(d) {
    //         console.log(d.geometry.coordinates[0]);
    //         return projection([d.geometry.coordinates[0], d.geometry.coordinates[1]])[0];})
    //     .attr("cy", function(d) {return projection([d.geometry.coordinates[0], d.geometry.coordinates[1]])[1];})
    //     .attr("r", "6px"),
    //     console.log(data);
    // });





</script>
</body>
</html>