{% extends 'base.html' %}
{% block content %}
<div class="container">
    <br><br>
    <table class="table">
        <thead>
          <tr>
            <th>lp</th>
            <th>typ</th>
            <th>temat</th>
            <th>data</th>
            <th>opis</th>
            <th>odnosniki</th>
            <th>spółdzielnia</th>
            <th>miejscowość</th>
            
          </tr>
        </thead>
  
      </table>
    <div id="sprawy">

    </div>
    <div>

    </div>
</div>
<script type="module">


    // var spol = d3.csv("{{ url_for('static', filename='warszawskie_spoldzielnie.csv') }}")


    var artykuly = d3.json({{ url_for("common.artykuly_dane") | tojson }})


    var formatMoney = d3.formatMoney = function (d) { return d3.format(",.2f")(d) + " zł"; }
    var d_parse = d3.utcParse("%a, %d %b %Y %H:%M:%S GMT")
    var d_format = d3.utcFormat("%Y-%m-%d")

    Promise.all([ artykuly]).then(function([artykuly]){  



            // Sort artykuly by data_poczatkowa
         artykuly =    artykuly.sort(function(a, b) {
    return new Date(d_parse(b.data_rozpoczenia)) - new Date(d_parse(a.data_rozpoczenia));
});

console.log(artykuly);

        let tabela = d3.select("table")

        let wiersz = tabela.append("tbody")
        .selectAll("tr").data(artykuly)
        .enter()
        .append("tr")
        // .attr("id", function(d) {return d.krs})
        .attr('class', 'artykuly')


        wiersz.append("td")
        .html(function (d,i) { return (i+1)+"." })



        wiersz.append("td")
        .html(function (d,i) { return d.typ })
        wiersz.append("td")
        .html(function (d,i) { return d.temat })



        wiersz.append("td")
        .text(function (d) { return d_format(d_parse(d.data_rozpoczenia)) })

        wiersz.append("td")
        .html(function (d,i) { return d.opis })

        // wiersz.append("td")
        // .html(function (d,i) { return d.odnosniki.split("|")})

        wiersz.append("td")
        .selectAll("a")
        .data(function(d){return d.odnosniki.split("|")})
        .enter()
        .append("a")
        .attr("href",function(d){return d})
        .attr("target","_blank")
        .attr("rel", "noopener noreferrer")
        .text(function(d,i){return 'odnośnik_'+(i+1)+'.'})
        .append("br")


        wiersz.append("td")
        .html(function (d,i) { return d.nazwa })

        wiersz.append("td")
        .html(function (d,i) { return d.miejscowosc })
        // sprawy.append("div")
        //     .attr("class","column")
        //     .selectAll("p")
        //     .data(function(d){return d.odnosniki.split("|")})
        //     .enter()
        //     .append("p")
        //     .attr("style", "font-size: 14px; margin-bottom: 14px;")
        //     .append("a")
        //     .attr("href",function(d){return d})
        //     .text(function(d){return d})      


            // split d.odnosniki by |
            // sprawy.append("div")
            // .attr("class","column")
            // .selectAll("p")
            // .data(function(d){return d.odnosniki.split("|")})
    })


</script>
{% endblock %}
