{% extends 'base.html' %}
{% block content %}

<section>
<div class="container">
   
    
    <div id="chart"></div>

</div>

<div class="container">

<div class="columns">
    <div class="column" id="chart2"></div>
    <div class="column" id="chart3"></div>
    <div class="column" id="chart4"></div>
    </div>
    </div>

<div class="container">
    <br><br>
</div>
</section>
<script type="module">
    import { wykres_spoldzielni , daj_mi_wykres , pogrupuj, pogrupuj2    } from '{{ url_for("static", filename="charts.js")}}';

    var w = 700;
    var h = 700;
    var svg = d3.select("div#chart").append("svg").attr("width", w).attr("height", h)
    .attr("viewBox", "0 0 " + w + " " + h).style("background","#fffaaf");

    var projection = d3.geoMercator().translate([w/2-100,h/2+570]).scale(86000).center([21,52]);
    var path = d3.geoPath().projection(projection);

    var warszawa = d3.json("{{ url_for('static', filename='dzielnice/warszawa.geojson') }}")
    var warszawa_dzielnice = d3.json("{{ url_for('static', filename='dzielnice/warszawa-dzielnice.geojson') }}")
    var wisla = d3.json("{{ url_for('static', filename='dzielnice/wisla.geojson') }}")
    var warszawa_drogi = d3.json("{{ url_for('static', filename='dzielnice/warszawa_drogi.geojson') }}")
    // var spol = d3.csv("{{ url_for('static', filename='warszawskie_spoldzielnie.csv') }}")


    var spol = d3.json({{ url_for("common.spoldzielnie_dane") | tojson }})
    var sprawy = d3.json({{ url_for("common.sprawy_dane") | tojson }})
    var gw_svg = d3.svg("{{ url_for('static', filename='pics/gwiazdka2.svg') }}")


    // var formatMoney = function (d) { return d3.format(".2f")(d) + " zł"; }
  

    // change formatMoney to separate thousands with space
    var formatMoney = d3.formatMoney = function (d) { return d3.format(",.2f")(d) + " zł"; }

    Promise.all([warszawa, 
                 wisla, 
                 spol, 
                 warszawa_dzielnice, 
                 warszawa_drogi]).then(function([warszawa, 
                                                wisla, 
                                                spol, 
                                                warszawa_dzielnice, 
                                                warszawa_drogi]){   
  

        // sort spol by bilans descending
        spol.sort(function(a, b) {
            return b.bilans - a.bilans;
        });

        // d3.select("#svgEmbed").node().appendChild(values[3].documentElement);

        warszawa.features.forEach(function(feature) {
           feature.geometry.coordinates[0].reverse();
        });

        svg.selectAll("path.continent")
            .data(warszawa.features)
            .enter()
            .append("path")
            .attr("class","continent")
            .attr("d", path);
    


            var defs = svg.append('defs');
            var gradient = defs.append('linearGradient')
            .attr('id', 'svgGradient')
            .attr('x1', '0%')
            .attr('x2', '100%')
            .attr('y1', '0%')
            .attr('y2', '100%');

            gradient.append('stop')
            .attr('class', 'start')
            .attr('offset', '0%')
            .attr('stop-color', '#fa8b8b')
            .attr('stop-opacity', 0.7);

            gradient.append('stop')
            .attr('class', 'end')
            .attr('offset', '100%')
            .attr('stop-color', 'rgb(230, 199, 96)')
            .attr('stop-opacity', 1);

        warszawa_dzielnice.features.forEach(function(feature) {
            feature.geometry.coordinates.forEach(function(coords) {
                coords.forEach(function(coord) {
                    coord.reverse();
                });
            });

        });


  


        svg.selectAll("path.drogi")
        .data(warszawa_drogi.features)
        .enter()
        .append("path")
        .attr("class","drogi")
        .attr("d", path);


        svg.selectAll("path.wisla")
        .data(wisla.features)
        .enter()
        .append("path")
        .attr("class","wisla")
        .attr("d", path);

        svg.selectAll("path.dzielnice")
        .data(warszawa_dzielnice.features)
        .enter()
        .append("path")
        .attr("class","dzielnice")
        .attr("d", path);

        // warszawa_drogi.features.forEach(function(feature) {
        //     feature.geometry.coordinates.forEach(function(coords) {
        //         coords.forEach(function(coord) {
        //             coord.reverse();
        //         });
        //     });

        // });
  


        let g_spol = svg.selectAll("g.spoldzielnia")
        .data(spol)
        .enter()
        .append("g")
        .attr("class","spoldzielnia")
        .attr("transform", function(d) {
            return "translate("+projection([d.dlugosc_geo, d.szerokosc_geo])+")"
        })



        spol = spol.map(function(d) {
            d.bilans_rsquare = Math.sqrt(parseFloat(d.bilans)) // Replace "value" with the value you want to assign to the new attribute
            return d;
        });

        const max_bilans = d3.max(spol, function(d) { return d.bilans_rsquare; })
        const min_bilans = d3.min(spol, function(d) { return d.bilans_rsquare; })

        console.log(max_bilans);
        console.log(min_bilans);

        var r_bilans = d3.scaleLinear()
        .domain([0, max_bilans])
        .range([3, 16]);

        g_spol
        .append("circle")
        .attr("class","spoldzielnia")
        .attr("cx", 0)
        .attr("cy", 0)
        .attr("r",  function(d) {
            let rr = 0
            if (d.bilans_rsquare > 0) {
               rr = d.bilans_rsquare
            } 
            return r_bilans(rr)
        }
        )
        .attr("fill", function(d) {
                return 'rgb(147, 230, 255)'
            
        })
        .attr("stroke", "black")
        .attr("stroke-width", 1)
        .attr("opacity", 0.7)
        

  



        let g_legenda = svg.append("g").attr("transform", function(d) {
            return "translate(420, 40)"
        })
        




    // g_legenda.append("circle")
    //     .attr("class","spoldzielnia")
    //     .attr("cx", 0)
    //     .attr("cy", 0)
    //     .attr("r", "8px")
    //     .attr("fill", 'rgb(147, 230, 255)')
    //     .attr("stroke", "black")
    //     .attr("stroke-width", 1)

    //     g_legenda.append("text")
    //     .attr('x', 20)
    //     .attr('y', 4)
    //     .text("- spółdzielnia mieszkaniowa (SM)")





        let dane_w = pogrupuj(spol);
        console.log(dane_w);

        let suma_wszystkich = d3.sum(spol, function(d) { return d.bilans; });
        console.log(suma_wszystkich);

        let wyk = daj_mi_wykres(dane_w, 'Rys. Suma bilansów SM za rok 2022, wg dzielnic.');

        console.log(wyk);

        d3.select("div#chart2").node().appendChild(wyk);

        let dane_w2 = pogrupuj2(spol);
        let wyk2 = daj_mi_wykres(dane_w2, 'Rys. Liczba SM według dzielnic.');

            console.log(wyk2);

            d3.select("div#chart3").node().appendChild(wyk2);

    });




</script>
{% endblock %}

